<button>Populate</button>
<ul>
    {{#each dbArticle}}
        <li>{{this.summary}}</li>
        <li>{{this.link}}</li>
    {{/each}}
</ul>

<ul>
    {{#each foundDB}}
        <li>{{this.summary}}</li>
        <li>{{this.link}}</li>
        <br>
    {{/each}}
</ul>